{{#each pets}}
  <div class="pet">
    <div class="photo-column">
      <!--img src="{{photo}}">

      <video controls width="250"-->
          <source src="https://tarek-bg.github.io/web/webtest/template/Handlebars/data/images/aziz and dino.webm" type="video/webm" />

          <source src="/media/cc0-videos/flower.mp4" type="video/mp4" />

          Download the
          <a href="https://tarek-bg.github.io/web/webtest/template/Handlebars/data/images/aziz and dino.webm">WEBM</a>
          or
          <a href="/media/cc0-videos/flower.mp4">MP4</a>
          video.
      </video>



      
    </div>

    <div class="info-column">
      <h2>{{name}} <span class="species">({{species}})</span></h2>

      <p>Age: {{calculateAge birthYear}}</p>

      {{#if favFoods}}
      <h4 class="headline-bar">Favorite Foods</h4>
      <ul class="favorite-foods">
        {{#each favFoods}}
          <li>{{{this}}}</li>
        {{/each}}
      </ul>
      {{/if}}

    </div>
  </div>
{{/each}}