{{#each pets}}
  <div class="pet">
    <div class="photo-column">
      <h2>Photos</h2>
      <img src="{{photo}}">
<br>
      <!--video controls width="250"-->
          <video src="{{video}}" type="video/webm" />
      <!--/video-->




      
    </div>

    <div class="info-column">
      <h2>{{name}} <span class="species">({{species}})</span></h2>

      <p>the Age is: {{calculateAge birthYear}}</p>

      {{#if favFoods}}
      <h4 class="headline-bar">Favorite Foodss</h4>
      <ul class="favorite-foods">
        {{#each favFoods}}
          <li>{{{this}}}</li>
        {{/each}}
      </ul>
      {{/if}}

    </div>
  </div>
{{/each}}